@import './type-scale';

@font-face {
  font-family: 'Neue Montreal';
  src: url('../../../public/fonts/neue-montreal-regular.woff2') format('woff2'),
  url('../../../public/fonts/neue-montreal-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../../public/fonts/neue-montreal-medium.woff2') format('woff2'),
    url('../../../public/fonts/neue-montreal-medium.woff') format('woff');;
    font-weight: 700;
    font-style: normal;
}

html {
  font-size: calc(100vw / var(--desktop-width) * 10);
}

body {
  font-family: 'Neue Montreal', sans-serif;
  font-size: clamp(16px, 1.6rem, 1.6rem);
  font-weight: 400;
  font-style: normal;
  text-size-adjust: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}